@import '@/assets/css/tailwind.css';

@import '@/assets/css/header.css';

section {
  height: 100%;
  padding: 3rem 1rem 6rem;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  margin-bottom: -5%;
}

section:first-child {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}
section:last-child {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
}
