@import './tailwind.css';
@import './reset.css';

* {
  transition: all 0.4s;
}

:root {
  --laravel-active: #f05340;
  --laravel: #ebb5ad;
  --vue: #41b883;
  --dark: #171717;
  --light: #c4c4c4;
}

.text-color-laravel {
  color: var(--laravel);
}

a:not([class]) {
  color: var(--laravel);
  text-decoration: underline;
}

a:hover {
  color: var(--laravel-active);
}

.bug {
  border: 1px dotted red;
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.section {
  padding: 2.5rem 0;
  @apply flex flex-col justify-center items-center;
}

/* TODO: separate to files */

.about-me__image {
  height: 15rem;
}

.nav-link {
  @apply text-xl capitalize;
  padding: 0.25rem;
  border-bottom: 2px solid transparent;
  border-radius: 0.25rem;
}

.nav-link--active {
  border-bottom-color: var(--light);
}

.nav-link:hover {
  border-bottom-color: var(--laravel-active);
}
