.bug {
    border: 1px solid red;
}

.project-info-modal-tools::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.project-info-modal-tools::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
.project-info-modal-tools::-webkit-scrollbar-thumb {
    background: rgba(79, 70, 229, .5);
    /* border-top: 30px solid gray; */
}

/* Handle on hover */
.project-info-modal-tools::-webkit-scrollbar-thumb:hover {
    background: rgba(79, 70, 229, .75);
}