:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary: #ffb3b3;
  --primary-light: rgba(128, 0, 0, 1);

  --primary-text-dark: rgba(255, 255, 255, 1);
  --primary-text-light: rgba(17, 24, 39, 1);

  --primary-bg-light: rgba(255, 255, 255, 1);
  --primary-bg-dark: rgba(17, 24, 39, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: var(--primary-light);
}

body {
  overflow-x: hidden;
  color: var(--primary-text-light);
  background-color: var(--primary-bg-light);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--primary-text-dark);
    background-color: var(--primary-bg-dark);
  }

  .text-primary {
    color: var(--primary);
  }
}
